
<div *ngIf="imagen">
    <h2><span jhiTranslate="testerisApp.imagen.detail.title">Imagen</span> {{imagen.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testerisApp.imagen.imagen">Imagen</span></dt>
        <dd>
            <div *ngIf="imagen.imagen">
                <a (click)="openFile(imagen.imagenContentType, imagen.imagen)" jhiTranslate="entity.action.open">open</a>
                {{imagen.imagenContentType}}, {{byteSize(imagen.imagen)}}
            </div>
        </dd>
        <dt><span jhiTranslate="testerisApp.imagen.nombre">Nombre</span></dt>
        <dd>
            <span>{{imagen.nombre}}</span>
        </dd>
        <dt><span jhiTranslate="testerisApp.imagen.description">Description</span></dt>
        <dd>
            <span>{{imagen.description}}</span>
        </dd>
        <dt><span jhiTranslate="testerisApp.imagen.paso">Paso</span></dt>
        <dd>
            <div *ngIf="imagen.paso">
                <a [routerLink]="['/paso', imagen.paso?.id]">{{imagen.paso?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'imagen/'+ imagen.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
